Binaries
Content/AnimalVarietyPack
Content/StarterContent
Content/beffio
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.code-workspace
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace